version: '3.8'

services:
  backend:
    build: ./quicknotes/backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/quicknotes
      - JWT_SECRET=secret123
    depends_on:
      - mongo
    networks:
      - mern-app

  frontend:
    build: ./quicknotes/frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - mern-app

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-app

networks:
  mern-app:
    driver: bridge

volumes:
  mongo-data:
